.topicos{
    background-image: var(--azul-degrade)
    text-aling: center;
    padding: 1em 0;
}

.topicos-titulo{
    color:var(--branco);
    font-weight: 300;
    margin-bottom: 1em;
}
.topicos-lista{
display: flex;
flex-wrap: wrap;
justify-content:center;
}
.topicos-item{
    color:var(--branco)
}