@import url(reset.css);
@import url(header.css);
@import url(banner.css);
@import url(carrosel.css);
body{
    background-color: #EBECCE;
    font-family: "Poppins", sans-serif;
}
:root{
--branco:#FFFFFF;
--cor-de-fundo:#EBECCE;
--laranja:#E89B00;
--azul-degrade:linear-gradient(97.56deg,#022f52 35.49%,#326589 165.37%);
}
